{%- capture block_class -%}
  site-footer-block-{{ block.type | replace: '_', '-' }}
  {% if block.type == 'menu' %}has-accordion{% endif %}
{%- endcapture -%}

<style>
  .site-footer-block-title a {
    color: black;
  }
</style>

<div
  class="{{ block_class | strip_newlines }}"
  {{ block.shopify_attributes }}
  {% if inline %}
    style="margin-top:0.75rem; width: auto"
  {% endif %}
>
  {% if block.type == 'menu' %}
    <p class="site-footer-block-title" data-accordion-trigger>
      {{ linklists[block.settings.menu].title | escape }}

      <span class="site-footer-block-icon accordion--icon">
        {% render 'icon-chevron-down' %}
      </span>
    </p>

    <div class="site-footer-block-content">
      {%
        render 'navlist',
        menu_list: linklists[block.settings.menu].links,
        depth: 1,
        max_depth: 1,
        aria_expanded: false,
        accordion_level: 1,
      %}
    </div>
  {% elsif block.type == 'rich_text' or block.type == 'newsletter' %}
    {% if block.settings.title != blank %}
      <p class="site-footer-block-title">
        {% if block.settings.rich_text_link %}
          <a href="{{ block.settings.rich_text_link }}">
        {% endif %}
        {{ block.settings.title | escape }}
        {% if block.settings.rich_text_link %}
          </a>
        {% endif %}
      </p>
    {% endif %}

    {% if block.settings.text != blank %}
      <div class="site-footer-block-content rte">
        {{ block.settings.text }}
      </div>
    {% endif %}

    {% if block.type == 'newsletter' %}
      {% assign form_id = 'footer_newsletter_' | append: block.id %}
      {% render 'newsletter', form_id: form_id, input_id: 'footer_newsletter_email' %}
    {% endif %}
  {% elsif block.type == 'social_accounts' %}
    {%
      render 'social-list',
      context: 'footer',
    %}
  {% endif %}
  {% if block.type == 'images' %}
    {% if block.settings.image1 %}
      {% if block.settings.image_link1 %}
        <a href="{{ block.settings.image_link1 }}">
      {% endif %}
      <img
        src="{{ block.settings.image1 | img_url }}"
        alt="{{ block.settings.image1.alt }}"
        style="height: 3.375rem;width: auto"
      >
      {% if block.settings.image_link1 %}
        </a>
      {% endif %}
    {% endif %}
    {% if block.settings.image2 %}
      {% if block.settings.image_link2 %}
        <a href="{{ block.settings.image_link2 }}">
      {% endif %}
      <img
        src="{{ block.settings.image2 | img_url }}"
        alt="{{ block.settings.image2.alt }}"
        style="height: 3.375rem;width: auto"
      >
      {% if block.settings.image_link2 %}
        </a>
      {% endif %}
    {% endif %}
  {% endif %}
</div>
